:root {
    --orange: rgba(240, 74, 36, 1);
    --blue: rgba(44, 99, 139, 1);
    --grey: rgba(247, 248, 250, 1);
    --dark_grey: rgba(241, 241, 243, 1);
    --headings_font: "League Spartan", sans-serif;
    --body_font: "Rethink Sans", sans-serif;
}

* {margin: 0; padding: 0; box-sizing: border-box;}
body {font-family: var(--body_font); font-size: 20px; color: black; line-height: 40px;}
ul {list-style: none;}
a {text-decoration: none; color: inherit;}
.container {width: 90%; max-width: 1024px; margin: 0 auto;}
p{font-family: "Rethink Sans"; font-size: 20px;}

/* Headings */
h1{font-family: "League Spartan"; font-weight: 600;
    color: rgba(240, 74, 36, 1);
    line-height: 50px;
}

h2{
    font-family: "League Spartan";
    font-size: 50px;
    font-weight: 600;
}

h3{
    font-family: "League Spartan";
    font-size: 34px;
    font-weight: 600;
}

h4{
    font-family: "League Spartan";
    font-size: 24px;
    font-weight: 600;
}

/* Buttons */
.btn{
    border-radius: 9999px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    border-style: solid;
    font-family: "League Spartan";
  }

/* HEADER */
.column{
    width: 33.33%;
}
header{
   background-color: var(--grey); 
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
   position: sticky;
   top: 0;
   z-index: 10;
}
header .container_header{
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
} 
header nav ul{
    display: flex;
    gap: 10px;
    justify-content: center;
}
header nav a{
    font-size: 18px;
    color: var(--blue);
}
header .btn_current{
    color: white;
    font-size: 18px;
    background-color: var(--blue);
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    text-align: center;
    border-style: solid;
    font-family: "League Spartan";
}
header .btn{
    font-size: 18px;
    color: var(--blue);
    background-color: white;
    border-width: 2px;
    border-color: var(--blue);
    padding: 10px 20px 10px 20px;
    font-family: "League Spartan";
}
header .btn:hover{
    color: var(--blue);
    background-color: var(--blue);
    padding: 10px 20px 10px 20px;
    font-family: "League Spartan";
}
header a:hover .btn{
    color: white;
    font-family: "League Spartan";
}
#account ul{
    display: flex;
    gap: 10px;
    justify-content: right;
}
#account .btn{
    font-size: 18px;
    color: var(--orange);
    background-color: white;
    border-width: 2px;
    border-color: var(--orange);
    padding: 10px 20px 10px 20px;
    font-family: "League Spartan";
} 
#account .btn:hover{
    color: white;
    background-color: var(--orange);
}
#account .btn_current{
    color: white;
    background-color: var(--orange);
    border-color: var(--orange);
}

/* HOME */
/* Home: Block 1 */
#home_hero{
    padding: 90px;
}
#home_hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
#home_hero h1{
    font-size: 96px;
    line-height: 100px;
    width: 500px;
    margin-bottom: 10px;
}
#home_hero p{
    width: 480px
}
#home_hero .btn{
    color: white;
    background-color: var(--orange);
    border-width: 2px;
    border-color: var(--orange);
    margin-top: 30px;
    font-family: "League Spartan";
}
#home_hero .btn:hover{
    color: var(--orange);
    background-color: white;
    border-width: 2px;
    border-color: var(--orange);
    font-family: "League Spartan";
}

/* Home: Block 2 */
#home_block_2 .container{
    align-items: center;
    text-align: center;
    width: 700px;
}
#home_block_2{
    background: var(--blue);
    color: #fff;
    padding: 70px;
    text-align: center;
    margin-bottom: 100px;
}
#home_block_2 p{
    padding-top: 30px;
}

/* Home: Block 3 */
#home_block_3 .container{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    gap: 40px;
}
#home_block_3 .offer_text{
    flex: 1;
}
.image_placeholder{
    width: 460px;
    height: 330px;
    background: grey;
    border-radius:8px;
    flex-shrink: 0; 
    margin-bottom: 40px;
}
#home_block_3 h2{
    color: var(--orange);
    margin-bottom: 20px;
}
#home_block_3 p{
    width: 400px;
}
#offer_list li{
    list-style: disc;
    list-style-position: inside;
}

/* Home: Block 4 */
#home_block_4 .container{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 110px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}
.card{
    background: var(--grey);
    padding: 50px 30px 50px 30px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    max-width: 470px;
    text-align: center; 
}
.card h3{
    color: var(--blue);
    margin-bottom: 20px;
}
.card p{
    width: 400px;
    margin-bottom: 20px;
}
.card .btn{
    font-size: 18px;
    color: white;
    background-color: var(--blue);
    border-width: 2px;
    border-color: var(--blue);
    margin-top: 15px;
    font-family: "League Spartan";
}
.card .btn:hover{
    color: var(--blue);
    background-color: white;
    border-width: 2px;
    border-color: var(--blue);
    font-family: "League Spartan";
}

/* Home: Block 5 */
#home_block_5 .container{
    align-items: center;
    text-align: center;
    width: 600px;
}
#home_block_5 h2{
    color: var(--orange);
    margin-bottom: 30px;
}
#home_block_5 p{
    margin-bottom: 30px;
}
#home_block_5 .btn{
    color: white;
    background-color: var(--orange);
    border-width: 2px;
    border-color: var(--orange);
    font-family: "League Spartan";
}
#home_block_5 .btn:hover{
    color: var(--orange);
    background-color: white;
    border-width: 2px;
    border-color: var(--orange);
    font-family: "League Spartan";
}

/* FOOTER */
footer{
    background: var(--blue);
    color: white;
    margin-top: 100px;
}
footer .container_footer{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}
#privacy{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}
#privacy ul{
    display: flex;
    gap: 40px;
}
#contact{
    margin-left: auto;
    display: flex;
    gap: 10px;
}
#privacy a,
#contact a{
    text-decoration: none;
    color: white;
}

/* COURSES */
/* Courses: Hero */
#courses_hero{
    background-color: var(--orange);
    color: white;
    padding-top: 90px;
    padding-bottom: 70px;
    margin-bottom: 80px;
}
#courses_hero h1{
    font-size: 64px;
    margin-bottom: 30px;
    color: white;
}
#courses_hero p{
    max-width: 850px;
    line-height: 30px;
}

/* Courses: Categories */
#courses_categories {
    margin-bottom: 60px;
}
.btn_categories{
    border-radius: 9999px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    font-size: 13px;
    border-color: var(--blue);
    background-color: white;
    color: var(--blue);
    font-family: "League Spartan";
}
.btn_categories:hover{
    color: white;
    background-color: var(--blue);
    border-width: 2px;
    border-color: var(--blue);
    font-family: "League Spartan";
}
.btn_categories_current{
    border-radius: 9999px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    font-size: 13px;
    border-color: var(--blue);
    background-color: var(--blue);
    color: white;
    font-family: "League Spartan";
}

/* Courses: Course List */
#courses_course_list{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.container_course{
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: var(--grey);
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px
}
.course_item{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.course_item p{
    line-height: 30px;
    margin-bottom: 10px;
}
#course_heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#course_heading .category{
    display: inline-block;
    background-color: var(--orange);
    border-radius: 9999px;
    color: white;
    padding: 0px 15px 0px 15px;
    font-family: "League Spartan";
    font-size: 13px;
}

/* Courses: Call to action */
#courses_cta .container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#courses_cta{
    text-align: center;
    margin-top: 160px;
}
#courses_cta h1{
    color: var(--orange);
    font-size: 80px;
    margin-bottom: 30px;
}
#courses_cta p{
    line-height: 30px;
    margin-bottom: 40px;
    width: 700px;
}
#courses_cta .btn{
    color: white;
    background-color: var(--orange);
    border-width: 2px;
    border-color: var(--orange);
    margin-bottom: 50px;
    font-family: "League Spartan";
}
#courses_cta .btn:hover{
    color: var(--orange);
    background-color: white;
    border-width: 2px;
    border-color: var(--orange);
    font-family: "League Spartan";
}

/* FORM */
/* Form: Hero */
#start_form{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
#start_form h1{
    font-size: 90px;
    padding-top: 150px;
    margin-bottom: 50px;
}
#start_form h3{
    margin-bottom: 30px;
    justify-self: center;
    width: 550px;
}
#start_form p{
    margin-bottom: 20px;
    justify-self: center;
    width: 550px;
}
#start_form h5{
    margin-bottom: 30px;
    justify-self: center;
    width: 550px;
    padding-bottom: 70px;
}

/* Form: Steps */
legend{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.form_section{
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 50px;
}
.form_section h6{
    font-size: 20px;
    font-weight: bold;
    font-family: "Rethink Sans";
}
.form_section h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.form_section p{
    margin-bottom: 40px;
}
.form_section #topics_list label{
    font-size: 16px;
}
.form_group{
    margin-bottom: 40px;
}
.form_group label{
    display: block;
    font-weight: bold;
    margin-top: 20px;
}
.form_group p{
    font-size: 20px;
    font-weight: bold;
    font-family: "Rethink Sans";
}
.form_group input,
.form_group select,
.form_group textarea{
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
}
#preferred_contact{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}
#level_language{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}
.radio_buttons label{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin-top: 0px;
}
.radio_buttons input{
    display: flex;
    flex-wrap: wrap;
}
.radio_buttons p{
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

/* Form: Submit */
#submit_form{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
#submit_form h1{
    font-size: 60px;
    padding-top: 60px;
    margin-bottom: 30px;
}
#submit_form h3{
    margin-bottom: 30px;
    width: 550px;
}
#submit_form p{
    margin-bottom: 20px;
    justify-self: center;
    width: 550px;
    margin-bottom: 30px;
}
#submit_form .btn{
    color: white;
    background-color: var(--orange);
    border-width: 2px;
    border-color: var(--orange);
    font-family: "League Spartan";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
#submit_form .btn:hover{
    color: var(--orange);
    background-color: white;
    border-width: 2px;
    border-color: var(--orange);
    font-family: "League Spartan";
}

/* Form: Submitted */
#submitted_hero{
    display: flex;
    flex-direction: column;
    align-content: center;
}
#submitted_hero h1{
    font-size: 90px;
    margin-top: 180px;
    margin-bottom: 50px;
    justify-self: center;
}
#submitted_hero h3{
    justify-self: center;
    margin-bottom: 20px

}
#submitted_hero p{
    justify-self: center;
    margin-bottom: 50px;
}
#submitted_hero #buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
#submitted_hero .btn{
    color: white;
    background-color: var(--orange);
    border-width: 2px;
    border-color: var(--orange);
    font-family: "League Spartan";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 50px;
    width: 200px;
}
#submitted_hero .btn:hover{
    color: var(--orange);
    background-color: white;
    border-width: 2px;
    border-color: var(--orange);
    font-family: "League Spartan";
}

/* LOG IN */
#account .container{
    line-height: 30px;
}

/* Log In: Form block */
#account_form{
    text-align: center;
    justify-items: center;
    padding: 50px;
}
#account_form h1{
    font-size: 50px;
    margin-bottom: 10px;
}
#account_form p{
    margin-bottom: 30px;
    color: black;
    width: 50%;
}
.user_info input{
    height: 50px;
    width: 100%;
    padding: 10px;
    color: black;
    margin-bottom: 20px;
}
.user_info h5{
    font-weight: normal;
    font-size: 15px;
    color: black;
}
.user_info #forgot{
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}
#account_form .user_info .btn{
    color: white;
    background-color: var(--orange);
    border-width: 2px;
    border-color: var(--orange);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 9999px;
}
#account_form .user_info .btn:hover{
    color: var(--orange);
    background-color: white;
    border-width: 2px;
    border-color: var(--orange);
    font-family: "League Spartan";
}
.user_info #img1{
    margin-top: 10px;
    margin-bottom: 20px;
}
.user_info #img2{
    margin-top: 10px;
}
.user_info #new_user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.user_info #new_user p{
    width: auto;
    margin-bottom: auto;
}
.user_info #name{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.user_info #checkbox{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: left;
    gap: 15px;
    text-align: left;
    margin-bottom: 5px;
}
.user_info #checkbox input{
    width: 20px;
    margin-bottom: auto;
}
#auto_footer{
    margin-top: auto;
}

/* USER ACCOUNT */
#user_container{
    width: auto;
}
#columns{
    display: flex;
}
#left_column{
    width: 20%;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    gap: 15px;
}
#left_column a{
    justify-items: center;
    width: 70%;
}
.nav_btn_current{
    color: white;
    background-color: var(--blue);
    border-radius: 5px;
    border-width: 0px;
    justify-content: center;
    align-items: center;      
    width: 100%;             
    padding: 20px 0;           
    text-align: center; 
}
.nav_btn_current h4{
    font-weight: normal;
    font-size: 20px;
}
.nav_btn{
    color: var(--blue);
    background-color: var(--dark_grey);
    border-radius: 5px;
    border-width: 0px;
    justify-content: center;
    align-items: center;      
    width: 100%;             
    padding: 20px 0;           
    text-align: center; 
    cursor: pointer;
}
.nav_btn h4{
    font-weight: normal;
    font-size: 20px;
}
#right_column{
    width: 80%;
    padding-top: 80px;
    padding-left: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#right_column h1{
    font-size: 90px;
    padding-top: 12px;
}
#right_column p{
    font-size: 30px;
}
.dashboard_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: auto;   
    row-gap: 40px;  
    margin-top: 20px
}
.dashboard_block {
  background-color: var(--grey);
  padding: 30px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 90%;
}
.dashboard_block img {
  width: 40px;
  height: auto;
  flex-shrink: 0;
  margin-left: 10px;
}
.db_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.db_content h4{
  margin: 0;
  font-size: 35px;
  line-height: 1.4;
}
.db_content ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: circle;
}
.db_content ul li {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 1.5;
}
#right_column .db_content p {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 1.5;
}

.db_content a h5 {
  font-size: 16px;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
}

/* USER COURSES */
#right_column_heading{
    margin-bottom: 30px;
}
#user_course_list{
margin-bottom: 30px;
}
#user_course_list h2{
    font-size: 30px;
}
#user_course_list p{
    font-size: 20px;
    margin-bottom: auto;
}
.user_container_course{
    max-width: 90%;
    margin: 0;
    background-color: var(--grey);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px
}

/* USER INBOX */
#user_inbox{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#user_inbox h2{
    font-size: 30px;
}
#user_inbox p{
    font-size: 20px;
    margin-bottom: auto;
}
.user_container_inbox{
    max-width: 90%;
    margin: 0;
    background-color: var(--grey);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px
}

/* USER SETTINGS */
.user_settings input{
    height: 50px;
    width: 50%;
    padding: 10px;
    color: black;
    margin-bottom: 20px;
}

.user_settings .btn{
    color: white;
    font-size: 18px;
    background-color: var(--orange);
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    text-align: center;
    border-style: none;
    font-family: "League Spartan";
}
.user_settings .btn_save{
    color: white;
    font-size: 25px;
    background-color: var(--orange);
    padding: 18px 35px 18px 35px;
    border-radius: 9999px;
    text-align: center;
    border-style: none;
    font-family: "League Spartan";
}
#change_buttons{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    gap: 50px;
}

/* USER LOG OUT */
#log_out_buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 140px;
}
#log_out_buttons .btn{
    color: white;
    font-size: 18px;
    background-color: var(--orange);
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    text-align: center;
    border-style: none;
    font-family: "League Spartan";
}
